.dropdown-menu {
  padding: 30px 60px 26px;
  left: -60px;
  right: -60px;
  background-color: #f7e296;
}

.dropdown-menu__submenu-item {
  margin-bottom: 16px;
}

.dropdown-menu__submenu-link {
  line-height: 20px;
}
