.page-footer__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-footer__middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-footer__services-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 423px;
}

.page-footer__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.page-footer__social-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 136px;
  margin-left: 510px;

  :not(:last-child) {
    padding-right: 20px;
  }
}
