.services {
  margin-bottom: 91px;
  background-image: linear-gradient(180deg, white 100px, #e5e5e5 0, #e5e5e5 100%);
}

.services__wrap {
  display: grid;
  grid-template-columns: 284px 1fr;
  grid-column-gap: 116px;
  min-height: 388px;
}
