.services-description {
  padding-top: 105px;
}

.services-description__item {
  display: none;

  &--current {
    display: block;
  }
}


.services-description__title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  margin: 0;
  margin-bottom: 40px;
}

.services-description__content {
  line-height: 30px;
  letter-spacing: 0.1em;
  max-width: 570px;
  margin: 0;
}

.services-description__item--delivery {
  background: url("../img/index/delivery.svg") no-repeat right top;
}

.services-description__item--garanty {
  background: url("../img/index/garanty.svg") no-repeat right top;
}

.services-description__item--credit {
  background: url("../img/index/credit.svg") no-repeat right top;
}
