.sort {
  display: flex;
  min-width: 616px;
  justify-content: space-between;
  align-items: center;
}

.sort__types {
  display: flex;
  min-width: 289px;
  flex-wrap: wrap;
}

.sort__item {
  &:not(:last-of-type) {
    padding-right: 30px;
  }
}
