.specification {
  display: flex;

  :not(:last-child) {
    padding-right: 64px;
  }
}

.specification__item {
  display: flex;
  flex-direction: column-reverse;
}

.specification__description {
  margin: 0;
}
