.user-menu {
  display: grid;
  grid-template-columns: 250px 250px;
}

.user-menu__list {
  display: flex;
  min-width: 224px;
  align-items: center;
  justify-content: flex-end;
}

.user-menu__action {
  display: flex;
  justify-content: space-between;
}
