.user-menu {
  display: grid;
  grid-template-columns: 250px 238px;
  grid-column-gap: 32px;
}

.user-menu__list {
  display: flex;
  min-width: 224px;
  align-items: center;
}

.user-menu__list--footer {
  justify-content: flex-end;

  .user-menu__link--name {
    padding-right: 2px;

    span {
      margin-left: 12px;
    }
  }
}

.user-menu__list--action {
  justify-content: space-between;
}

.user-menu__link {
  line-height: 20px;
  padding-left: 22px;
  color: inherit;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  span {
    margin-left: 9px;
  }

  &--header svg {
    fill: black;
  }

  &--footer {
    color: rgba(255, 255, 255, 0.7);

    & svg {
      fill: #ffc600;
    }

    &:hover,
    &:focus {
      color: white;
      opacity: 1;

      & svg {
        fill: rgba(255, 198, 0, 0.6);
      }
    }

    &:active {
      opacity: 0.3;
    }
  }

  &--use {
    opacity: 0.3;
  }
}
